<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Default</title>
</head>
<body>
<nav th:replace="fragments::nav"></nav>
<table>
    <tr>
        <th>Box ID</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Item(s)</th>
    </tr>
    <tr th:each="box:${boxes}">
        <td th:text="'Box ' + ${box.id}"></td>
        <td><a th:href="@{/box/{boxId}/view(boxId=${box.id})}">View</a></td>
        <td><a th:href="@{/box/{boxId}(boxId=${box.id})}">Edit</a></td>
        <td><a th:href="@{/box/{boxId}/delete(boxId=${box.id})}">Delete</a></td>
        <td th:text="${box.items.size()}"></td>
    </tr>
</table>
<a href="/box/addBox">Add Box</a>
</body>
</html>